RewriteEngine On

# Rewrite for trang-chu.html
RewriteRule ^trang-chu\.html$ index.php [L]
RewriteRule ^home\.html$ home.php [L]

RewriteRule ^([a-zA-Z0-9_-]+)\.html$ chi-tiet-bai-viet.php?slug=$1 [L]